# Home Price Prediction

## Importing Relevent Libraries

In [1]:
import pandas as pd # for Data Frame
import numpy as np # for mathemetical operation
import matplotlib.pyplot as plt # for Visulization
%matplotlib inline
import seaborn as sns # for Visulization
import warnings # for ignore warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression # for Regression in Machine Learning
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error # for Accuracy
from sklearn.model_selection import train_test_split # for split data in to Train and Test
from sklearn.linear_model import Ridge # for Increasing Accuracy
from sklearn.linear_model import Lasso # for Increasing Accuracy

## Part 1 - Data Exploration and Pre-processing

### 1) Load the given dataset

In [2]:
df = pd.read_csv('Project_2_Home_Price_Prediction.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

### 2) Print all the columns

In [3]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

### 3) Describe the data

In [4]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

### 4) Drop address, date, postcode, YearBuilt, lattitude, longitude columns

In [5]:
df = df.drop(['Address', 'Date', 'Postcode', 'YearBuilt', 'Lattitude', 'Longtitude'], axis='columns')
df

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.0,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.0,104.0,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.0,120.0,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.0,103.0,Maribyrnong City Council,Western Metropolitan,6543.0

### 5) Find the count of null values in each columns

In [6]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

### 6) Fill the null value of property count, distance, Bedroom2, Bathroom, Car with 0

In [7]:
df[['Propertycount','Distance', 'Bedroom2', 'Bathroom', 'Car']] = df[['Propertycount','Distance', 'Bedroom2', 'Bathroom', 'Car']].fillna(0)

### 7) Fill Null value of land size and building area columns with Mean

In [8]:
df['Landsize'] = df['Landsize'].fillna(df.Landsize.mean())

In [9]:
df['BuildingArea'] = df['BuildingArea'].fillna(df.BuildingArea.mean())

### Drop rest Null values

In [10]:
df.dropna(inplace=True)

In [11]:
df.shape

(27244, 15)

In [12]:
df.isnull().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

### 8) Find the unique value in method column

In [13]:
df['Method'].unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

In [14]:
df['SellerG'].unique()

array(['Biggin', 'Nelson', 'Jellis', 'Dingle', 'Purplebricks', 'Greg',
       'LITTLE', 'Collins', 'Kay', 'Beller', 'Marshall', 'hockingstuart',
       'Brad', 'Maddison', 'Barry', 'Airport', 'Considine', 'Rendina',
       'Ray', 'Propertyau', 'McDonald', 'Frank', 'Prof.', 'Harcourts',
       'Thomson', 'Buxton', 'RT', "Sotheby's", 'Cayzer', 'Chisholm',
       'Brace', 'Miles', 'Holland', 'McGrath', 'Love', 'Thomas', 'Barlow',
       'Sweeney', 'Village', 'Jas', 'Williams', 'Gunn&Co', 'Burnham',
       'Compton', 'FN', 'Hunter', 'Raine&Horne', 'Noel', 'Hodges', 'Gary',
       'Fletchers', 'Woodards', 'Raine', 'Alexkarbon', 'Walshe', 'Weda',
       'Stockdale', 'Tim', 'AIME', 'Moonee', 'HAR', 'Edward', 'Philip',
       'RW', 'North', 'MICM', 'Ascend', 'Christopher', 'Morrison',
       'Mandy', 'R&H', 'Fletchers/One', 'Lindellas', 'Appleby', 'Assisi',
       'One', 'Owen', 'Parkes', 'C21', "O'Brien", 'Bayside', 'Paul',
       'hockingstuart/Buxton', 'First', 'Matthew', 'Melbourne',
       'Anderson', 'Nick', 'Allens', 'Bells', 'Trimson', 'Douglas',
       'Batty', 'GL', 'YPA', "Tiernan's", 'J', 'Rodney', 'Joseph',
       'Harrington', 'Galldon', 'Chambers', 'Peter', 'Grantham',
       'hockingstuart/Advantage', 'Garvey', "O'Donoghues", 'Hamilton',
       'Bekdon', 'Ross', 'Weast', 'Century', 'Kelly', 'Property',
       "Private/Tiernan's", 'Australian', 'Bustin', "Abercromby's",
       'Castran', 'iTRAK', 'Del', 'Nicholson', 'JMRE', 'ASL', 'Re', 'RE',
       'Ham', 'Darren', 'Vic', 'Scott', 'Pride', 'Morleys', 'Wilson',
       'Buxton/Advantage', 'Whiting', 'Pagan', 'Joe', 'Red', 'Caine',
       'Naison', 'Sweeney/Advantage', 'Nguyen', 'Domain', 'Eview',
       'Jason', 'Professionals', "D'Aprano", 'Charlton', 'CASTRAN',
       'Wood', 'Haughton', 'William', 'Coventry', 'Buckingham',
       'Nardella', 'Reach', 'Walsh', 'Karen', 'LJ', 'Direct',
       'Fletchers/Fletchers', 'Besser', 'Johnston', 'Redina', 'Clairmont',
       'Changing', 'Lucas', 'Elite', 'Buxton/Find', 'W.B.', 'Leased',
       'Win', 'New', 'Geoff', 'hockingstuart/Barry', 'Blue', 'Steveway',
       'Dixon', 'Parkinson', 'VICPROP', 'Meadows', 'Allan', 'S&L',
       'Crane', 'Calder', 'Homes', 'Zahn', 'Mason', 'David', 'Luxe',
       'Prowse', 'Ken', 'iOne', 'hockingstuart/Village', 'Iconek',
       'Luxton', 'Hooper', 'Oak', 'White', 'Weston', 'Reed', 'Oriental',
       'Craig', 'Max', 'Rosin', 'Steller', 'Real', 'Hall', 'Icon',
       'buyMyplace', 'Collings', 'WHITEFOX', 'Metro', '@Realty',
       'Hoskins', 'Gardiner', 'McLennan', 'Triwest', 'PRDNationwide',
       'Only', 'Leyton', 'Obrien', 'Maitland', 'Reliance', 'Rounds',
       'Millership', 'iSell', 'L', 'Ash', 'Jim', 'Ace', 'Flannagan',
       'JRW', 'Carter', 'M.J', 'iProperty', 'Hayeswinckle', 'Schroeder',
       'iHomes', 'VICProp', 'REMAX', 'Space', 'Victory', 'Aumeca',
       'Smart', 'Mindacom', 'Ryder', 'Asset', 'LLC', 'Sell', 'Mitchell',
       'U', 'Nicholas', 'Keatings', 'Aquire', 'Conquest', 'Rombotis',
       'Prime', 'Donovan', 'Community', 'Free', 'Veitch', 'Peake',
       'Ristic', 'Upper', 'Daniel', 'Xynergy', 'VicHomes', 'Westside',
       'Leeburn', 'TRUE', 'Leading', 'Bullen', 'Better', 'Langwell',
       'Kaye', 'Nicholls', 'Bowman', 'Boutique', 'Just', 'Home',
       'McNaughton', 'Black', 'The', 'Open', 'Darras', 'Roger', 'Follett',
       'Le', 'McEwing', 'Sandhurst', 'Avion', 'Boran',
       'hockingstuart/hockingstuart', 'Area', 'MJ', 'Eric', 'SN', 'P',
       'PRD', 'Bombay', 'Quinta', 'T', 'Rexhepi', 'Point', 'LJH', 'Munn',
       'Justin', 'Blackbird', 'Sweeney/Burnham', 'H', 'Branon', 'Alex',
       'Benchmark', 'Gellibrand', 'hockingstuart/Harcourts', 'Charter',
       'Surreal', 'Upside', 'OBrien', 'Meallin', 'JY', 'Mark', 'For',
       'Leaders', 'Shape', 'McGrath/Langwell', 'Benlor', 'Burns',
       'K.R.Peters', 'Buxton/Buxton', 'Buxton/Marshall', 'CarlinSmith',
       'hockingstuart/Sweeney', 'People', 'hockingstuart/Biggin', 'Mega',
       'Skad', 'Wyndham', 'Create', 'Janice', 'G&H', 'Commercial', 'PSP',
       'Unity', 'hockingstuart/Marshall', 'McGrath/First', 'Spencer',
       'Sanctuary'], dtype=object)

In [15]:
df['CouncilArea'].unique()

array(['Yarra City Council', 'Moonee Valley City Council',
       'Port Phillip City Council', 'Darebin City Council',
       'Hobsons Bay City Council', 'Stonnington City Council',
       'Boroondara City Council', 'Monash City Council',
       'Glen Eira City Council', 'Whitehorse City Council',
       'Maribyrnong City Council', 'Bayside City Council',
       'Moreland City Council', 'Manningham City Council',
       'Melbourne City Council', 'Banyule City Council',
       'Brimbank City Council', 'Kingston City Council',
       'Hume City Council', 'Knox City Council', 'Maroondah City Council',
       'Casey City Council', 'Melton City Council',
       'Greater Dandenong City Council', 'Nillumbik Shire Council',
       'Whittlesea City Council', 'Frankston City Council',
       'Macedon Ranges Shire Council', 'Yarra Ranges Shire Council',
       'Wyndham City Council', 'Cardinia Shire Council',
       'Moorabool Shire Council', 'Mitchell Shire Council'], dtype=object)

In [16]:
df['Regionname'].unique()

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'Eastern Metropolitan',
       'South-Eastern Metropolitan', 'Eastern Victoria',
       'Northern Victoria', 'Western Victoria'], dtype=object)

### 9) Create a dummy data for categorical data

In [17]:
df = pd.get_dummies(df, drop_first=True)

In [18]:
df.shape

(27244, 745)

In [19]:
df.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,2.0,1.0,1.0,202.0,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,850000.0,2.5,3.0,2.0,1.0,94.0,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0

## Part 2 - Working with Model

### 1) Create the target data and feature data where target data is price

In [20]:
x = df.drop('Price', axis='columns')
x

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [21]:
y = df[['Price']]
y

           Price
1      1480000.0
2      1035000.0
4      1465000.0
5       850000.0
6      1600000.0
...          ...
34852  1480000.0
34853   888000.0
34854   705000.0
34855  1140000.0
34856  1020000.0

[27244 rows x 1 columns]

### Split Data into Train and Test

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [23]:
x_train.shape

(21795, 744)

In [24]:
x_test.shape

(5449, 744)

### 2) Create a linear regression model for Target and feature data

In [25]:
regression_model = LinearRegression()

In [26]:
regression_model.fit(x_train,y_train)

LinearRegression()

In [27]:
price_predict = regression_model.predict(x_test)
price_predict

array([[671023.34162493],
       [350200.81190479],
       [818729.20113597],
       ...,
       [314719.59178431],
       [807674.66674801],
       [882501.38272193]])

### 3) Check if the model is overfitting or underfitting or it is accurate

In [28]:
regression_model.score(x_test,y_test)

0.6738662013475808

In [29]:
regression_model.score(x_train,y_train)

0.6795975642174452

### Using Ridge Regression Algoritham to increase accuracy

In [34]:
ridge_reg = Ridge(alpha=1, max_iter=100)

In [35]:
ridge_reg.fit(x_train, y_train)

Ridge(alpha=1, max_iter=100)

In [36]:
ridge_reg.score(x_test, y_test)

0.675918171803715

In [37]:
ridge_reg.score(x_train, y_train)

0.6789853288547226

### Using Ridge Regression Algoritham to increase accuracy

In [38]:
lasso_reg = Lasso(alpha=1, max_iter=100)

In [39]:
lasso_reg.fit(x_train, y_train)

Lasso(alpha=1, max_iter=100)

In [40]:
price_predict_lasso = lasso_reg.predict(x)
price_predict_lasso

array([1098450.97240898, 1053895.6134072 , 1332623.72476888, ...,
        647533.78536093, 1042738.36646318,  702984.79992266])

In [41]:
lasso_reg.score(x_test, y_test)

0.6744286704887782

In [42]:
lasso_reg.score(x_train, y_train)

0.6795066970354462

### 5) Extract slope and intercept value from the model

In [43]:
print('Slope: ', lasso_reg.coef_)
print('Intercept: ', lasso_reg.intercept_)

Slope:  [ 2.68665812e+05 -4.00542518e+04 -8.85913515e+04  1.28815749e+05
  4.15333627e+04  2.20440467e+00  3.59429366e+01 -1.37462453e+00
  1.75897916e+05 -2.01066675e+05 -2.88674703e+05  4.08985969e+05
 -1.41936609e+05  1.25941608e+05  2.48963625e+04 -2.98264088e+05
 -2.87242745e+05 -3.37777018e+05  5.24291862e+05 -2.03368913e+05
  3.79379072e+05  9.21162991e+04  3.41665275e+05 -2.29531214e+03
 -2.77955888e+05 -3.55391539e+05  1.31846981e+05 -4.42698996e+04
  6.31138629e+05  4.67940111e+05  1.92812992e+05  1.50341655e+05
  2.47586397e+05  3.29610397e+05  6.20451006e+05 -2.57247255e+05
  1.61091461e+05  5.02763642e+04  3.38485570e+05  7.04162561e+05
  3.00603160e+05 -1.12088264e+04 -8.04123348e+02  4.81855287e+05
  2.41705564e+05  4.64506031e+05  2.66329346e+05 -4.04628979e+05
 -6.74554969e+04  8.54378069e+05  4.06432475e+05 -2.09664052e+05
  1.01740824e+04 -1.44209471e+05 -1.32708133e+05 -1.61705158e+05
 -2.05754315e+05  0.00000000e+00 -1.23363151e+04  6.22389024e+05
 -2.87885569e+05  4.64608739e+04 -3.71305598e+05 -4.19376267e+05
  6.26258438e+04  1.16240141e+05 -3.64157678e+05  5.33023142e+05
 -3.02854108e+05  1.01484830e+06 -2.29244806e+04  5.43191005e+04
  1.00699197e+05 -3.39366740e+05  6.42939987e+05  3.03371072e+05
 -8.49880525e+04  5.64919241e+02  1.33750273e+05  1.07108302e+05
  1.21970765e+04  5.21445808e+05  1.08601735e+05  2.60696050e+05
 -1.61043955e+03 -5.66594893e+04  1.74306410e+05  2.93625193e+04
  1.04415478e+05  5.13020321e+05 -1.97556710e+05 -3.46111182e+05
  0.00000000e+00  3.75196016e+04 -2.60310263e+05 -1.67779974e+05
  2.17799107e+05  1.66135911e+05  9.54604379e+04  1.83925196e+05
 -6.46052467e+03  1.75273729e+05 -2.48110349e+04  1.78979326e+05
  1.90121249e+05 -4.57578187e+05  2.15565598e+05  3.89660523e+04
  0.00000000e+00  5.11574407e+05 -3.15329772e+05 -2.87489384e+05
 -3.71950825e+05  2.75828539e+04  9.50170064e+04  9.58852774e+04
 -2.77626144e+05  1.94774386e+05  2.38396366e+05  2.57780974e+05
 -8.51080463e+04  4.34953399e+04  4.24470083e+05 -1.05541696e+04
  5.08119855e+05  2.25476434e+05 -1.80224059e+04 -2.20362130e+05
  1.37928251e+05 -5.28166083e+04 -2.31451752e+04 -9.63298234e+04
  1.84520567e+04 -8.83369328e+04 -1.53930659e+05 -5.82768064e+04
  1.52903432e+05  2.18701661e+04 -1.91999731e+05  2.39914202e+05
  0.00000000e+00  2.46413076e+05  7.34654395e+04 -3.04698872e+05
 -2.54071558e+05  5.29431317e+04  6.30846691e+05  4.24017208e+05
  7.57634704e+05 -7.55792752e+04  5.98374083e+05  6.84336562e+05
 -3.86094172e+05  1.30914380e+04  3.82804777e+05  4.09774048e+05
 -2.91735212e+05 -4.43315958e+05 -1.14600721e+05 -1.63479676e+05
 -3.71751671e+05  3.60714323e+05  6.25681026e+05  2.30894653e+05
  1.55997987e+05  2.22819025e+05  3.56901802e+05  5.24056956e+05
  1.68919341e+05  1.65957649e+05 -3.80787137e+04 -2.48202913e+05
 -3.50019983e+05  3.46275917e+05 -2.94109394e+05 -2.30860013e+05
  1.64193803e+05 -4.29121121e+04 -6.27430212e+04  1.12911464e+05
  5.75498816e+05 -2.84076080e+05  0.00000000e+00 -3.52430044e+05
 -1.70207182e+05 -2.62837496e+05 -1.69027676e+05 -1.49690550e+05
 -2.69207649e+05 -2.78553661e+05  4.16605858e+05  3.50723819e+05
  1.09488279e+05  2.09511951e+05 -3.73486988e+05 -2.32203450e+05
 -2.00438726e+05  5.06074515e+04  2.63134663e+05  1.13554266e+05
 -1.57694565e+05  5.85339357e+05 -2.08789714e+05  5.43660907e+02
 -4.71360716e+04  2.40757741e+05  0.00000000e+00 -1.04510783e+05
 -3.18907719e+05  8.75513661e+05  3.92840419e+05 -2.63962237e+05
  2.83890862e+05 -2.10790965e+05 -9.94409016e+04  1.46903893e+04
  1.52417906e+05  1.29513027e+05  3.61036612e+05 -7.12954848e+03
 -2.73777970e+05  6.56339179e+05 -1.65655297e+05  2.15449866e+05
  0.00000000e+00  5.43142289e+05 -3.95793561e+04 -1.52260500e+05
 -3.36948979e+04  3.81621588e+04 -1.56033637e+04  4.13667407e+05
  5.64005172e+04  2.94934251e+05  1.49862033e+05  7.16663224e+04
  2.30439265e+05  2.83856410e+05 -1.71221434e+05 -4.80905911e+04
  1.23206992e+05 -2.45018658e+05  6.32962919e+05  7.08192169e+04
  1.82004358e+05  1.90627495e+05 -1.67926478e+05  1.00532987e+05
  3.90076565e+04 -5.25570081e+04  3.68215969e+05  1.80052965e+05
  5.54507335e+05  4.93894550e+05 -3.67984197e+04 -2.49364875e+05
  3.91653586e+05  4.80774283e+05  0.00000000e+00 -3.63547668e+05
 -1.22662747e+04  7.96849601e+04 -1.62364657e+05  4.21836299e+05
  1.11781441e+05 -1.69561491e+05  5.51488011e+04  7.11071491e+05
  1.86351218e+05  1.55887404e+05  5.95684054e+03 -3.06363523e+04
  3.44834334e+05 -1.24317760e+05  5.91928752e+04 -2.42530554e+05
  2.01629753e+05  5.68934247e+05  1.58222208e+05 -3.45316644e+05
  5.41495052e+05 -1.16267099e+05 -2.06824357e+05  3.96733463e+05
  1.61516162e+05 -2.58551562e+05 -5.38585726e+04 -1.71567769e+05
 -1.61846225e+03 -3.22619599e+05 -2.12250364e+05  6.27335306e+04
  9.69765526e+04 -1.49070566e+05 -3.20714620e+05 -3.04919246e+04
 -6.29238090e+04 -3.77034679e+05  2.71709835e+05 -1.74019992e+05
 -2.87241245e+05 -3.61453507e+05  4.75361516e+05 -1.98398487e+05
 -2.48393187e+05 -2.64473610e+05 -3.08574740e+05  5.01624560e+04
  2.65971388e+05  5.23654203e+03  2.24679334e+05 -8.44144956e+04
 -3.52816320e+04  4.93435045e+05 -7.58873122e+04 -2.10455175e+05
 -1.99774809e+05  1.33994806e+05  1.16886382e+05  6.16752142e+04
 -2.91884306e+05  5.28415381e+05  3.00552607e+05 -1.53191380e+05
 -9.54246753e+04  5.18708670e+05 -1.12342517e+05  1.54959976e+05
 -1.42817260e+05 -2.89717574e+05 -3.60609448e+04 -3.39312164e+05
 -2.49286277e+05 -3.14467270e+05 -1.55365170e+05 -2.28895270e+05
  5.58652916e+04  3.40786014e+05  0.00000000e+00 -3.04040706e+05
  1.46562035e+05 -8.90547810e+04 -3.83553684e+04 -2.37213472e+04
  4.16726498e+05  6.63466843e+04 -2.74942217e+05  0.00000000e+00
 -1.93620375e+05  1.07191517e+05  0.00000000e+00 -2.76445793e+05
 -4.78569849e+05  7.29557964e+04  5.47288209e+04  4.02902471e+04
  2.29403878e+04 -1.25854578e+05 -3.38698791e+04  5.79708173e+05
  1.95945924e+05 -3.42849536e+05  3.86082170e+05  2.62732969e+04
 -1.61098619e+05 -2.04359168e+05  7.63878215e+03 -3.45584964e+05
  7.41889597e+04  9.95215988e+04 -1.11309377e+05 -1.74296924e+05
 -1.23350164e+05  3.24087224e+05  3.53821172e+04 -4.30745339e+04
  2.20193628e+05  4.39826314e+04  2.90972248e+02  3.07335659e+05
 -7.69727742e+04 -3.77836850e+04 -1.02473896e+05  9.67128737e+03
  1.45790552e+05  6.40773837e+04 -2.10657523e+05 -9.13461493e+04
  5.68110760e+03  7.82951109e+04  4.24985495e+03  7.50831669e+05
  3.32343458e+04 -1.20400370e+05 -1.30116180e+05 -3.06065044e+05
 -9.64938058e+04  3.39521031e+03  4.86154762e+04  3.65248015e+04
 -1.38499931e+05  3.78858720e+04 -2.19734520e+05  0.00000000e+00
  1.69686391e+04 -4.44435036e+04  0.00000000e+00  0.00000000e+00
 -1.59147546e+05 -2.19134676e+04 -2.05998491e+05  3.52629339e+05
  3.47688026e+04  5.03021050e+04  8.22683458e+04  4.29764461e+05
  2.86516805e+04 -3.25759172e+05 -4.07894038e+04 -3.66665775e+05
  5.87186233e+04 -2.92584277e+05  2.59367229e+04 -1.63886022e+05
  1.67436795e+05  1.28849294e+05  1.46888156e+05  5.50226126e+04
  1.68102175e+05  4.93711454e+04  2.16315330e+05 -1.12318731e+05
 -2.55950923e+05 -3.75510132e+03 -2.23111456e+04  8.93768206e+03
 -2.20370644e+04 -1.72935661e+05  1.87397519e+06  1.31361101e+05
 -1.44405593e+05 -0.00000000e+00 -1.14771298e+05 -6.88692563e+05
 -2.40693908e+05 -1.15028920e+05 -1.51845230e+05 -1.40306540e+04
  1.42771492e+04  5.54259403e+05 -8.52159169e+04 -9.91664377e+01
  3.70160557e+04  8.48659292e+04  1.52720888e+05 -5.18930891e+02
 -9.36740423e+04 -1.08210973e+05  0.00000000e+00  0.00000000e+00
  2.09586145e+04  4.23570051e+04 -1.17773154e+04  1.46871137e+04
 -6.67346910e+04 -4.97006463e+05 -1.80028249e+05 -5.91735417e+04
 -4.91040975e+05 -1.58784897e+05  7.36687390e+03  5.46321704e+04
 -5.37616521e+04  4.72567632e+05  1.86087396e+03  9.42143379e+05
 -1.51111499e+05 -2.62134859e+05 -3.15589245e+03 -1.32484505e+05
 -7.42316133e+04 -1.16773509e+05 -3.34913907e+04 -8.32905814e+04
  1.66221593e+05 -1.10935945e+05  5.55314027e+05  1.01954105e+05
  6.30599291e+04  3.49611053e+04 -2.28298067e+04 -9.25473850e+02
 -7.97891297e+04 -1.27016372e+05  0.00000000e+00 -0.00000000e+00
  3.93896876e+04  3.08251774e+04  8.49222249e+04 -1.07047016e+04
  6.95727182e+03 -2.55736355e+05 -4.73028267e+04  9.02767555e+04
  3.90557076e+04 -2.04855942e+04 -4.09254127e+05  4.98234328e+05
 -2.98672605e+05  2.16385554e+02  4.62374947e+05 -6.99360747e+04
 -6.94716987e+03 -1.69632299e+05 -1.75576235e+04 -0.00000000e+00
  5.04399032e+05 -2.54911120e+05  5.79450107e+04  1.43010730e+05
 -1.39444224e+05  2.99942563e+04 -2.67682636e+04 -6.30062628e+04
  1.63674880e+05  3.88411761e+04  2.00303484e+05 -5.48721642e+05
 -3.02715282e+04  5.19372287e+04 -1.03971550e+05  2.39566217e+04
 -1.52809972e+05 -2.10536867e+05 -4.26471188e+04  0.00000000e+00
  3.18898898e+05 -0.00000000e+00  1.15192870e+04  2.00059389e+05
  1.02826069e+05 -7.70348390e+04  4.14636965e+04  0.00000000e+00
 -5.99358986e+04 -2.08706370e+04  4.73740246e+04  2.04568671e+02
 -1.03756701e+05  0.00000000e+00 -0.00000000e+00 -7.13522716e+04
  6.50805575e+04 -3.65876281e+03  0.00000000e+00  1.30175097e+05
  2.90541341e+04 -1.85997207e+05  2.85037010e+04  1.74908240e+04
  2.43342554e+04 -1.15684463e+05 -3.86936659e+03 -8.40043071e+04
  2.13402066e+04  7.50737817e+05 -2.18227344e+05 -1.60095377e+05
  1.01225044e+05 -3.32820383e+04  1.82696319e+05 -1.78815150e+04
 -2.69877154e+05  9.12176495e+04  2.60976878e+05 -3.78101966e+04
 -7.28608954e+04  2.15143419e+04 -2.14989750e+04 -1.28945443e+05
 -1.81472420e+05 -8.90527261e+04 -5.26678800e+04 -9.02988155e+04
  1.79047655e+05  0.00000000e+00  9.83519480e+04  2.15995724e+05
  1.31534063e+05  1.82131393e+05  3.50951807e+04 -7.22636163e+04
  5.41948942e+04  2.90118576e+04  7.28932497e+04 -1.19367701e+05
  1.23836249e+05  2.08378214e+04 -1.15857200e+05  1.31470507e+05
  0.00000000e+00 -3.56010354e+05 -7.69852725e+04  0.00000000e+00
 -1.37378892e+05  6.44586822e+04 -1.25906323e+05  1.80634046e+05
 -2.50376708e+04 -2.97935444e+04 -2.35662779e+05 -4.34215470e+04
 -1.15356775e+05 -5.20268112e+05  2.93960924e+05  8.93994801e+03
 -1.26264197e+04  1.08407923e+04 -1.65605237e+04 -3.17247227e+04
 -0.00000000e+00 -1.46656971e+05  7.35821423e+04  1.75763882e+05
 -2.38163087e+05  0.00000000e+00 -4.28789543e+05  3.45681013e+04
  8.92582118e+04  6.75521340e+04 -5.86020340e+05  8.16283296e+04
 -4.24635178e+05 -7.94497560e+04 -1.97606205e+05 -2.91237425e+05
  1.98270812e+03 -2.47269565e+04 -4.62749007e+05  1.19834258e+06
  0.00000000e+00  8.34767993e+04 -5.25233711e+04 -1.31421123e+05
 -2.72002451e+04 -3.54866907e+05 -7.62817506e+03 -1.19892750e+05
  0.00000000e+00  4.72949972e+05 -1.42499062e+05 -3.21363182e+04
 -1.77828480e+05 -9.56544424e+04 -5.34676475e+05 -1.75076994e+05
  4.27362631e+04  4.03897310e+04 -2.19578601e+05 -0.00000000e+00
  0.00000000e+00  1.07751757e+05 -6.59713825e+04  4.22104277e+05
 -1.74128842e+05 -9.70742289e+04 -9.43225874e+04 -3.10831909e+05
  4.10562718e+04 -7.57999696e+04  5.42127859e+05 -0.00000000e+00
 -1.17897978e+04  8.67616908e+05  1.27294659e+05 -1.71462479e+05
 -1.80794567e+05  1.73486510e+05 -8.23615302e+03 -2.74399681e+03
  4.10243971e+04  1.37643592e+05 -9.56203655e+04  8.00117505e+04
 -1.16066353e+04 -1.16440579e+05 -3.10065949e+05  6.28725469e+03
  0.00000000e+00  1.11867998e+05 -4.54225118e+04  8.61336607e+04
  0.00000000e+00 -1.06798007e+05  6.40165360e+04 -1.32377841e+05
  0.00000000e+00  2.01986485e+04  1.69753602e+05  2.38222317e+03
 -4.05331213e+04 -2.84924045e+05  3.00733031e+04  1.11256037e+05
 -1.18061249e+05  2.27121400e+04 -3.47943838e+04 -9.21240408e+04
  1.49742098e+05  1.16957791e+05 -3.91534252e+03  3.53941676e+04
  1.23379205e+05  4.86700925e+04 -5.66069578e+04 -9.60786005e+04
  5.70495978e+04  4.60926965e+03  1.98800629e+05 -1.59143709e+04
 -1.09055883e+04 -1.06822297e+03  1.18936843e+05 -9.86668778e+04
  4.62679868e+03  2.11438932e+04  2.18760823e+04  2.16945552e+05
  2.97109096e+04  7.80900039e+02  1.08398386e+05  1.38092222e+04
  2.17968768e+04 -7.06834501e+04 -9.91039730e+04 -1.08921390e+05
  1.74857159e+05  1.17646920e+04 -1.33822954e+02  1.63488378e+04
  5.07329529e+03  4.09823822e+03  2.84037573e+03  4.62075009e+04]
Intercept:  [697826.11987672]

### 6) Display Mean Squared Error

In [44]:
mse = mean_squared_error(y, price_predict_lasso)
mse

132302800146.99731

In [45]:
print('Mean Squared Error: ', mse)

Mean Squared Error:  132302800146.99731

### 7) Display Mean Absolute Error

In [46]:
mae = mean_absolute_error(y, price_predict_lasso)
mae

228815.9903417626

In [47]:
print('Mean Absolute Error: ', mae)

Mean Absolute Error:  228815.9903417626

### 8) Display Root Mean Squared Error

In [48]:
rmse = np.sqrt(mse)
rmse

363734.5187729607

In [49]:
print('Root Mean Squared Error: ', rmse)

Root Mean Squared Error:  363734.5187729607

### 9) Display R2 Score

In [50]:
r2 = round(r2_score(y, price_predict_lasso)*100, 2)

In [51]:
print('R2 Score: ', r2)

R2 Score:  67.85